.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightgray;
  padding: 1rem;
}

.right-side-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.divider {
  height: 0.25rem;
  background-color: rgb(7, 192, 183);
}

mat-icon {
  color: black;
}
